[Desktop Entry]
Name=Picture Dictionary
GenericName=Picture Dictionary
Comment=Tvåspråkig bildordbok med TTS
Exec=bildordbok
Icon=se.danielnylander.Bildordbok
Terminal=false
Type=Application
Categories=Education;Languages;
Keywords=ordbok;dictionary;tts;flashcard;
StartupNotify=true
