[Desktop Entry]
Name=Picture Dictionary
Name[sv]=Bildordbok
GenericName=Picture Dictionary
Comment=Bilingual picture dictionary with TTS
Comment[sv]=Tvåspråkig bildordbok med TTS
Exec=bildordbok
Icon=se.danielnylander.Bildordbok
Terminal=false
Type=Application
Categories=Education;Languages;
Keywords=ordbok;dictionary;tts;flashcard;
StartupNotify=true
